<%- include('../partials/header.ejs') %>
    <div class="content">
        <%if(categories.length){%>
            <%categories.forEach(category => {%>
                <h4><%=category%></h4>
                <%if(trades.length){%>
                    <%trades.forEach(trade => {%>
                        <% if(trade.category === category) {%>
                            <a href="/trades/<%=trade.id%>"><p><%=trade.title%></p></a>
                        <% } %>
                    <% }); %>
                <% } else{ %>
                    <p>There are no trades to display for the category <%=category%>.</p>
                <% } %>
            <% }); %>
        <% } else{ %>
            <p>There are no trades to display.</p>
        <% } %>
    </div>
<%- include('../partials/footer.ejs') %>